body {
    color: #fff;
    background-color: #212529;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    background-image:url('../images/space.gif');
    background-repeat:repeat;
}

h1 {
    font-size:2.5rem;
    font-weight:300;
    line-height:1.5;
    text-align: center;
    color: #feff;
    text-shadow:
    0 0 10px #fff;
}


h2 {
    font-size:2rem;
    font-weight:300;
    line-height:1.5;
    color: #feff;
    text-shadow:
    0 0 10px #fff;
}

p {
    font-size: 1.25rem;
    font-weight: 300;
}

ul {
    font-size: 1.25rem;
    font-weight: 300;
    list-style-type: '- ';
}